        .a-link:hover {
        color: blueviolet;
        }
        .p-price {
            font-weight: bold;
            color: green;
        }
        .p-free {
            color: white;
        }
        .btn-add {
            background-color: rgba(255, 220, 65, 0.918);
            width: 130px;
            height: 30px;
            border: none;
            border-radius: 100px;
            cursor: pointer;
        }
        .btn-add:hover {
            background-color: rgba(255, 211, 15, 0.918);
        }
        .btn-add:active {
            opacity: 0.8;
        }

        .btn-buy {
            background-color: rgb(230, 130, 0);
            border: none;
            border-radius: 100px;
            width: 130px;
            height: 30px;
            cursor: pointer;
        }

        .btn-buy:hover {
            background-color: rgb(255, 159, 32);
        }
        .btn-buy:active {
            opacity: 0.8;
        }
